<div class="container-fluid">
	<div class="row text-center">
		<div class="col-md-2 pull-right"><a href="#/">Logout</a></div>
		<div class="col-md-12">
			<h1>Welcome, {{user.a_fname}}!</h1>
			<h3>You have {{user.a_credits}} Credits remaining!</h3>		
			<hr style="width: 50%;" />
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h3>Add New Product</h3>					
					<hr style="width: 50%;" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">Product Code</label>  
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-tags" aria-hidden="true"></i></span>
									<input  name="first_name" placeholder="Enter Code"  ng-model="product.pcode" class="form-control"  type="text">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Product Name</label> 
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-star-o" aria-hidden="true"></i></span>
									<input name="pname" placeholder="Enter Name" class="form-control"  ng-model="product.pname" type="text">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Description</label>  
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-list" aria-hidden="true"></i></span>
									<textarea placeholder="Enter Product Description.." rows="3" class="form-control"  ng-model="product.pdesc"></textarea>									
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Size</label>  
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-shirtsinbulk" aria-hidden="true"></i></span>
									<input name="email" placeholder="Enter Size" class="form-control"  ng-model="product.psize" type="text">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Price</label>  
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
									<input name="email" placeholder="Enter Price" class="form-control"  ng-model="product.pprice" type="text">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Category</label>  
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-shirtsinbulk" aria-hidden="true"></i></span>
									<input name="email" placeholder="Enter Category" class="form-control"  ng-model="product.pcat" type="text">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Brand</label>  
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
									<input name="email" placeholder="Enter Price" class="form-control"  ng-model="product.pbrand" type="text">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Product Details</label>  
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-list" aria-hidden="true"></i></span>
									<div contenteditable="true" style="height:100px;" class="form-control text-left"  ng-model="product.pdet">
										<ul style="margin-left: -8%;">
										    <li>Detail Line 1</li>
										    <li>Detail Line 2</li>
										    <li>Detail Line 3</li>
										</ul>
									</div>									
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Image</label>  
							<div class="col-md-6  text-left">
								{{product.imgFile[0].name}}
								<div class="input-group">
									<label class="btn btn-default btn-file">
									    Upload Image <input file-model="product.imgFile" type="file"/>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label"></label>  
							<div class="col-md-6">
								<button class="btn btn-primary" ng-click="addProduct()">Add Product</button>
								<button class="btn">Reset</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h3>My Added Products</h3>
					<hr style="width: 50%;" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table-striped table">
			            <tbody>
				            <tr>
				              <th><h4>Product Code</h4></th>
				              <th><h4>Product Name</h4></th>
				              <th><h4>Price</h4></th>
				              <th><h4>Status</h4></th>
				            </tr>
				            <tr ng-repeat="p in user.products track by $index">
				              <td>{{p.p_code}}</td>
				              <td>
				                <img class="cartImage" src="{{p.p_img}}">
				                <span class="ng-binding">
				                  &nbsp;&nbsp;&nbsp;&nbsp;{{p.p_name}}
				                </span>
				              </td>
				              <td>RM {{p.p_price}}</td>
				              <td>
			                	<button ng-show="p.p_status == 'Active'" type="button" class="btn btn-success btn-sm disabled">Approved</button>
			                	<button ng-show="p.p_status == 'Pending'" type="button" class="btn btn-warning btn-sm disabled">Pending</button>
				              </td>
				            </tr>
			          	</tbody>
			        </table>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h3>Invite a Friend</h3>					
					<hr style="width: 50%;" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1 style="background-color: #F7F7F7; padding:20px;">
						{{user.a_ref}}<br/>
						<button  ng-click="shareLink('url')" type="button" class="btn btn-primary btn-lg"><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;Share via URL</button>
						<button ng-click="shareLink('fb')" type="button" class="btn btn-info btn-lg"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;Share on FB</button>
						<button ng-click="shareLink('wa')" type="button" class="btn btn-success btn-lg"><i class="fa fa-whatsapp" aria-hidden="true"></i>&nbsp;&nbsp;Share on WhatsApp</button>
					</h1>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h3>My Downline (Referred friends)</h3>
					<hr style="width: 50%;" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table-striped table">
			            <tbody>
				            <tr>
				              <th><h4>Entrepreneur Name</h4></th>
				              <th><h4>Entrepreneur E-Mail</h4></th>
				              <th><h4>Entrepreneur Company</h4></th>
				            </tr>
				            <tr ng-repeat="r in user.referrals track by $index">
				              <td><a href="#">{{r.a_fname + " " + r.a_lname}}</a></td>
				              <td>
					              <span>{{r.a_email}}</span>
				              </td>
				              <td>
			                	 {{r.a_company}}
				              </td>
				            </tr>
			          	</tbody>
			        </table>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="showLoader" class="loader">
    <div class="loadertext">
        Adding Product..<br/>
        {{progress}} %
    </div>
</div>