<div class="container-fluid">
	<div class="row text-center">
		<div class="col-md-12">
			<h1>Welcome, Merchant!</h1>
			<hr style="width: 50%;" />
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h3>Invite a Friend</h3>					
					<hr style="width: 50%;" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1 style="background-color: #F7F7F7; padding:20px;">
						76GT3us<br/>
						<button type="button" class="btn btn-primary btn-lg" ng-click="register()">
						<i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;Share Code</button>
					</h1>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h3>My Downline (Referred friends)</h3>
					<hr style="width: 50%;" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table-striped table">
			            <tbody>
				            <tr>
				              <th><h4>Member Name</h4></th>
				              <th><h4>Member E-Mail</h4></th>
				              <th><h4>Join Date</h4></th>
				            </tr>
				            <tr>
				              <td><a href="#">Merchant One</a></td>
				              <td>
					              <span>merchant3@email.com</span>
				              </td>
				              <td>
			                	 15/08/2017
				              </td>
				            </tr>
				            <tr>
				              <td><a href="#">Merchant Two</a></td>
				              <td>
					              <span>merchant2@email.com</span>
				              </td>
				              <td>
			                	 18/08/2017
				              </td>
				            </tr>
				            <tr>
				              <td><a href="#">Merchant Three</a></td>
				              <td>
					              <span>merchant3@email.com</span>
				              </td>
				              <td>
			                	 21/08/2017
				              </td>
				            </tr>
				            <tr>
				              <td><a href="#">Merchant Four</a></td>
				              <td>
					              <span>merchant4@email.com</span>
				              </td>
				              <td>
			                	 22/08/2017
				              </td>
				            </tr>
			          	</tbody>
			        </table>
				</div>
			</div>
		</div>
	</div>
</div>